.dblue{
    background-color: #005A7B;
}

.white {
    background-color: white;
}

.balck {
    background-color: black;
}

.green {
    background-color: #B7D36A;
}

.lgery {
    background-color: #474646;
}

.dgery {
    background-color: #333133;
}

.green {
    background-color: #B7D36A;
}