.dblue{
    background-color: #005A7B;
}

.white {
    background-color: white;
}

.balck {
    background-color: black;
}

.green {
    background-color: #C5DC88;
}

.yellow {
    background-color: #FFE188;
}

.pink {
    background-color: #DA95D5;
}

.lgery {
    background-color: #474646;
}

.dgery {
    background-color: #333133;
}