.blockblue{
    background-color: #005A7B;
}

.blocklgery {
    background-color: #474646;
}

.blockwhite {
    background-color: white;
}

.lgery {
    background-color: #474646;
}

.dgery {
    background-color: #333133;
}
